body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.post-content {
  text-align: justify;
}

.content, .container, .main {
  max-width: 900px;
}

@media screen and (max-width: 768px) {
  .sidenote {
    float: none;
    display: block;
    width: 100%;
    margin-top: 1em;
  }
}
